body {
    background-color: aliceblue;
}

img {
    width: 30%;
    height: 20%;
    border-radius: 50%;
    margin: 25px;
}

h1 {
    text-align: center;
}

p {
    padding: 5px;
    font-size: medium;
}

